<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">We provide full engineering services from concept to production.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-circle img-responsive" src="img/services/optical_pencilsketchadjusted.png" alt="">
                    </span>
                    <h4 class="service-heading">EO systems design and modeling</h4>
                    <p class="text-muted">User requirements analysis and creation of EO designs tailor specified to the customer's need.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-circle img-responsive" src="img/services/pencil_drawing_of_exploded_view_of_long_zoom_lens_ass.png" alt="">
                    </span>
                    <h4 class="service-heading">Opto-Mechanical Engineering</h4>
                    <p class="text-muted">Lens design including zoom mechanisms, stabilisation, auto-focus and iris control.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-circle img-responsive" src="img/services/laser_pencilsketchadjusted.png" alt="">
                    </span>
                    <h4 class="service-heading">Laser systems design</h4>
                    <p class="text-muted">Laser systems design and modeling for range finding and designation up to and including Class-4 lasers. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-circle img-responsive" src="img/services/pencil_drawing_of_realistic_pcb_hyper_detailed.png" alt="">
                    </span>
                    <h4 class="service-heading">Electronics and Software</h4>
                    <p class="text-muted">Electro-mechanical motion control systems, photodetector interface and front-end electronic design, video systems, image enhancement and AI / neural networks-based algorithms.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-circle img-responsive" src="img/services/prototype_pencilsketchadjusted.png" alt="">
                    </span>
                    <h4 class="service-heading">Prototyping</h4>
                    <p class="text-muted">Precision optics and mechanics assembly and alignment. Environmental testing and system verification. Testing systems performance such as NETD, MTF and MRTD.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-circle img-responsive" src="img/services/pencil_drawing_of_a_electronics_production_facility.png" alt="">
                    </span>
                    <h4 class="service-heading">Production support</h4>
                    <p class="text-muted">Low volume production at SHOCK facility. Client support with setup of volume production at client facilities. Production process and training of client personnel.</p>
                </div>
            </div>
        </div>
    </section>